.logo {
  height: 50px;
  cursor: pointer;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #4B0082);
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.landing {
  background-color: #FCFFEA;
  /* For browsers that support gradients */
  background-image: linear-gradient(to bottom, #FCFFEA 2%, #4B0082 90%);
  height: 100vh;
  width: 100vw;
}

.bg-con {
  display: none;
  width: 100vw;
  right: 0;
  bottom: 0;
  position: absolute;
}

.bg-img {
  height: 100%;
  width: 100%;
}

.header {
  padding: 10px 20px;
}

.landing-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.landing-tag {
  color: #4B0082;
  font-weight: 500;
  font-size: 40px;
  margin-bottom: 0;
}

.landing-tagline {
  font-weight: 400;
  font-size: 22px;
  color: #242424;
  width: 50vw;
  margin: 10px;
  margin-bottom: 8vh;
  text-align: center;
}